/* This stylesheet is used by manuals and a few older resources. */
@import url('../css/reset.css');

/***  PAGE LAYOUT  ***/

html, body {
    font-size: 1em;
    text-align: left;
    text-decoration: none;
}

html {
    background-color: #e7e7e7;
}

body {
    max-width: 74.92em;
    margin: 0 auto;
    padding: .5em 1em 1em 1em;
    background-color: white;
    border: .1em solid #c0c0c0;
}

/*** BASIC ELEMENTS ***/

/* Size and positioning */

p, pre, li, dt, dd, table, code, address {
    line-height: 1.3em;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 1em 0;
    text-decoration-line: underline;
}

h2 {
    font-size: 1.50em;
    margin: 1.0em 0 0.3em 0;
}

h3 {
    font-size: 1.30em;
    margin: 1.0em 0 0.3em 0;
}

h4 {
    font-size: 1.13em;
    margin: 1.0em 0 0 0;
}

h5 {
    font-size: 1.00em;
    margin: 1.0em 0 0 0;
}

p, pre {
    margin: .75em 0;
}

pre {
    overflow: auto;
    padding-bottom: .3em;
}

ul, ol, blockquote {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

hr {
    margin: 1em 0;
}

section div, section h3 {
    margin-left: 2%;
}

/* Lists of underlined links are difficult to read. The top margin
   gives a little more spacing between entries. */
ul li {
    margin: .5em 1em;
}

ol li {
    margin: 1em;
}

ol ul li {
    margin: .5em 1em;
}

ul li p, ul ul li {
    margin-top: .3em;
    margin-bottom: .3em;
}

ul ul, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

div .passage ul li {
    margin-top: 0;
    margin-bottom: 0;
}

/* Style */

h1, h2, h3, h4, h5, h6, strong, dt, th {
    font-weight: bold;
}

/* The default color (black) is too dark for large text in
   bold font. */
h1, h2 {
    color: #333;
}

h3, h4 {
    color: #4d4d4d;
}

h5, h6, dt {
    color: #222;
}

a[href] {
    color: #005090;
}

a[href]:active, a[href]:hover {
    color: #6f7000;
    text-decoration: none;
}

h1 a[href]:hover, h2 a[href]:hover, h3 a[href]:hover,
h4 a[href]:hover {
    color: #100070;
}

ol {
    list-style: decimal outside;
}

ul {
    list-style: square outside;
}

ul ul, ol ul {
    list-style: circle;
}

li {
    list-style: inherit;
}

hr {
    background-color: #ede6d5;
}

/*** SIMPLE CLASSES ***/
.no-bullet {
    list-style: none;
}

/*** Paragraph Formatting ***/
.passage p {
    margin-left: 2%;
}

.passage p:first-child {
    margin-top: 0;
}

/*** MANUAL PAGES ***/

/* This makes the very long tables of contents in Gnulib and other
   manuals easier to read. */

.toc ul.top-toc {
    font-weight: bold;
    list-style: decimal;
}

.toc ul ul {
    font-weight: normal;
}

/* For colored navigation bars (Emacs manual): make the bar extend
   across the whole width of the page and give it a decent height. */
.nav-buttons {
    margin: 0 -1em;
    padding: 0 1em;
    max-width: 350px;
    display: flex;
}

a.btn-previous, a.btn-next {
    width: 40%;
}

a.btn-toc {
    width: 20%;
}

a button {
    width: 100%;
}

button.btn-toc {
    width: 20%;
}

/* Inserts */
div.display, div.smalldisplay, div.smallexample {
    margin-left: 3%;
}

/*** FOR WIDE SCREENS ***/

@media (min-width: 40em) {
    body {
        padding: .5em 3em 1em 3em;
    }
}
